.circle {
    position: fixed;
    background-color: aliceblue;

    border: solid;
    border-color: black;
    border-radius: 50%;

    height: 8vh;
    width: 8vh;
    transform: translate(-100%, -100%);

    top: 99vh;
    left: 99vw;

    cursor: pointer;
    z-index: 100;
}

.circle-deactivated {
    opacity: 0.6;
    cursor:auto;

    position:fixed;
    background-color: aliceblue;

    border: solid;
    border-color: black;
    border-radius: 50%;

    height: 8vh;
    width: 8vh;
    transform: translate(-100%, -100%);

    top: 99vh;
    left: 99vw;
    z-index: 100;
}

.circle:hover {
    background-color: lightgrey;
}

.circle:active {
    background-color:grey;
}

.circle-plus {
    position: absolute;
    
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    height: 40%;

    content: url(../map-page/images/plus.png);
}

.circle-trashcan {
    position: absolute;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    height: 60%;

    content: url(../map-page/images/trashcan.png);
}

.loading-screen {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: white;
    z-index:100;
}

.loader {
    border: 1vw solid #f3f3f3; /* Light grey */
    border-top: 1vw solid #3498db; /* Blue */
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    animation: spin 1.5s linear infinite;

    position: absolute;
    margin-top: -4vw;
    margin-left: -4vw;

    top: 50%;
    left: 50%;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}