.circle {
    position: absolute;
    background-color: lightgrey;

    border: solid;
    border-color: black;
    border-radius: 50%;

    height: 8vh;
    width: 8vh;
    transform: translate(-100%, -100%);

    top: 99vh;
    left: 99vw;
}

.circle-plus {
    position: absolute;
    
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    height: 40%;

    content: url(../map-page/images/plus.png);
}

.circle-trashcan {
    position: absolute;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    height: 60%;

    content: url(../map-page/images/trashcan-default-clickable.png);
}